n8n-workflow-local-ai-image-tagging.json
{
  "name": "AI Image Tagging Qwen3.5 (vanilla exiftool)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "72b66222-e158-4a6e-9fed-110ecd5ec608",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1856,
        848
      ]
    },
    {
      "parameters": {
        "command": "find /files/ai-image/inbox -maxdepth 1 -type f -not -name '.*'"
      },
      "id": "f4906cb8-6ecd-47b1-ab07-e4f49b940c96",
      "name": "List Inbox Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1648,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout || \"\";\nconst files = stdout.split('\\n').filter(p => p.trim() !== '');\n\n// If no files are found, stop the workflow here\nif (files.length === 0) return [];\n\n// Format items for the Loop node\nreturn files.map(f => ({\n  json: { \n    path: f, \n    filename: f.split('/').pop() \n  } \n}));"
      },
      "id": "ae051af4-6001-4081-b0da-48a3375d559d",
      "name": "Format File List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        848
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "faecd809-786c-47ae-bc4d-140624d1eeff",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1200,
        848
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "id": "0bce23bc-eeae-4deb-bce3-4a28debe3dec",
      "name": "Read Image File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -976,
        848
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nif (item.binary && item.binary.data) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  const base64Data = buffer.toString('base64');\n  const mimeType = item.binary.data.mimeType;\n  \n  item.json.base64Data = base64Data;\n  item.json.mimeType = mimeType;\n  item.binary.data.data = base64Data;\n  \n  // 【終極解法】給予唯一的檔名，強制錯開 ExifTool 的暫存檔衝突\n  const uniqueId = Date.now();\n  item.binary.data.fileName = uniqueId + '_' + (item.json.filename || 'image.jpg');\n  \n  return item;\n}\n\nthrow new Error('找不到圖片資料');"
      },
      "id": "2a836c4a-c738-47ed-8a09-13f02bbba8c8",
      "name": "Convert to Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        848
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"local-model\",\n  \"temperature\": 0.5,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Deliver a comma seperated words phrases to describe the content of this image: try including when, where, who and doing what activities. Only reply the descriptions and limit to 30 phrases, and nothing else.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:{{ $json.mimeType }};base64,{{ $json.base64Data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "65aea740-d4f4-41fd-ad0e-ccdd6580bde1",
      "name": "LM Studio Vision AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -480,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.choices[0].message.content || \"\";\n\n// 移除深度思考標籤與前後空白\ntext = text.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n\n// 【安全防護】將單引號跳脫，防止 Bash 指令報錯或被注入\n// 例如將 It's 轉換為 It'\\''s\ntext = text.replace(/'/g, \"'\\\\''\");\n\nreturn { json: { cleanText: text } };"
      },
      "id": "da9c1b60-54d8-452b-9ac6-22e0fac560b4",
      "name": "Sanitize AI Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        832
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=exiftool -overwrite_original -ImageDescription='{{ $json.cleanText }}' -Keywords='{{ $json.cleanText }}' \"{{ $('Loop Over Items').item.json.path }}\""
      },
      "id": "e5dcc473-69bb-4748-bfe4-29c4a7c942fe",
      "name": "Run ExifTool CLI",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        64,
        832
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mv \"{{ $('Loop Over Items').item.json.path }}\" \"/files/ai-image/done/{{ $('Loop Over Items').item.json.filename }}\""
      },
      "id": "62cd7491-0bb2-440b-8601-c5c8045a9d0b",
      "name": "Move File to Done",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        288,
        832
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Inbox Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Inbox Files": {
      "main": [
        [
          {
            "node": "Format File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format File List": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Read Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Image File": {
      "main": [
        [
          {
            "node": "Convert to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Base64": {
      "main": [
        [
          {
            "node": "LM Studio Vision AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM Studio Vision AI": {
      "main": [
        [
          {
            "node": "Sanitize AI Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize AI Text": {
      "main": [
        [
          {
            "node": "Run ExifTool CLI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run ExifTool CLI": {
      "main": [
        [
          {
            "node": "Move File to Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move File to Done": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Hong_Kong",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b20f4a7a-3485-4bf1-bfaf-734b9667ffe9",
  "meta": {
    "instanceId": "222caa7ee9129b29f7f25a785ee7b52d53bbb49ade48dad1ec975498c4c2c188"
  },
  "id": "DIOL3KS248zDyGMU",
  "tags": []
}
